* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.footer {
  width: 100%;
  height: 1024px;
  background: rgba(209,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.content_footer {
  width: 100%;
  height: 172px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 852px;
  left: 0px;
  overflow: hidden;
}
.background_footer {
  width: 100%;
  height: 172px;
  background: rgba(37,38,47,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.main_content_footer {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 95px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.long_ray {
  width: 100%;
  height: 500px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 2px;
  overflow: hidden;
}
.fullred-ray {
  width: 100%;
  height: 7px;
  background: rgba(222,0,0,1);
  opacity: 1;
  position: absolute;
  top: 492px;
  left: 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.first_ray {
  width: 100%;
  height: 7px;
  background: rgba(222,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.second_ray {
  width: 100%;
  height: 7px;
  background: rgba(118,109,109,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 157px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.bottom_ray {
  width: 100%;
  height: 484px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
}
.body {
  width: 100%;
  height: 54px;
}
.v63_156 {
  width: 673px;
  height: 54px;
  background: url("../images/v63_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_158 {
  width: 138px;
  height: 54px;
  background: url("../images/v65_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1302px;
  overflow: hidden;
}
.v65_157 {
  width: 673px;
  height: 54px;
  background: url("../images/v65_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 653px;
  overflow: hidden;
}
.v65_161 {
  width: 176px;
  height: 101px;
  background: url("../images/v65_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 7px;
  overflow: hidden;
}
.v65_162 {
  width: 176px;
  height: 101px;
  background: url("../images/v65_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 336px;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.header_content {
  width: 137px;
  color: rgba(191,0,0,1);
  position: absolute;
  top: 28px;
  left: 68px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.under_header {
  width: 100%;
  height: 178px;

 
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 44px;
  overflow: hidden;
}
.first_dot {
  width: 61px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 81px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inside_first_dot {
  width: 19px;
  height: 19px;
  background: rgba(222,0,0,1);
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 102px;
  border-radius: 50%;
}
.second_dot {
  width: 61px;
  height: 61px;
  background: rgba(118,109,109,1);
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 1157px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inside_second_dot {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 1171px;
  border-radius: 50%;
}
.third_dot {
  width: 61px;
  height: 61px;
  background: rgba(118,109,109,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 769px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inside_third_dot {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 783px;
  border-radius: 50%;
}
.last_dot{
  width: 61px;
  height: 61px;
  background: rgba(118,109,109,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 381px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inside_last_dot {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 395px;
  border-radius: 50%;
}
.status_block {
  width: 222px;
  height: 100px;
  
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.background_block {
  width: 222px;
  height: 85px;
  background: rgb(40, 40, 55);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  overflow: hidden;
}
.function{
  width: 675px;
  height: 184px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 500px;
  overflow: hidden;
}
.setup {
  width: 179px;
  height: 184px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.background_setup {
  width: 179px;
  height: 179px;
  background: rgba(219,8,8,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.setup_position {
  width: 151px;
  height: 151px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.printer {
  width: 85px;
  height: 83px;
 
  background: url("../images/printer-regular-40.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 33px;
}
.printer_text {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 129px;
  left: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.setup_baotri {
  width: 179px;
  height: 184px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 240px;
  overflow: hidden;
}
.background_setup_baotri {
  width: 179px;
  height: 179px;
  background: rgba(219,8,8,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.setup_position_baotri {
  width: 151px;
  height: 151px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.printer_baotri {
  width: 85px;
  height: 83px;
  background: url("../images/printer-regular-40.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 33px;
}
.printer_text_baotri {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 129px;
  left: 37px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.setup_quanli{
  width: 195px;
  height: 184px;
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 480px;
  overflow: hidden;
}
.background_setup_quanli{
  width: 179px;
  height: 179px;
  background: rgba(219,8,8,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.setup_position_quanli  {
  width: 151px;
  height: 151px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.printer_quanli{
  width: 85px;
  height: 83px;
  background: url("../images/printer-regular-40.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 33px;
}
.printer_text_quanli{
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 122px;
  left: 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
